body{
    background: url("1618964262_23-phonoteka_org-p-fon-iz-belikh-tsvetov-25.jpg") no-repeat fixed;
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.container{
    justify-self: center;
}

div{
    margin: 50px;
}
span{
    color: darkblue;
}

p{
    margin-left: 100px;
    font-weight: bold;
}
