body {
    height: 200px;
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
}

.grid_container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}

.container{
    justify-self: center;
}

div{
    margin: 50px;
}
span{
    color: darkblue;
}

p{
    margin-left: 100px;
    font-weight: bold;
}
