body {
    height: 200px;
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
}

.grid_container{
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
}

.container {
    justify-self: center;
}

div{
    margin: 50px;
}
span{
    color: darkblue;
}

p{
    margin-left: 100px;
    font-weight: bold;
}
