body {
    height: 200px;
    background: linear-gradient(to right, #F6EFD2, #CEAD78);
}

.grid_container{
    display: block;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

.container{
    justify-self: center;
}

div{
    margin: 50px;
}
span{
    color: darkblue;
}

p{
    margin-left: 100px;
    font-weight: bold;
}
